{% extends 'profile.html' %}
{% block style %}

<style>

.icon-container {
    border-radius: 7px
}

.stars i {
    margin-right: 2px;
    color: red;
    font-size: 13px
}

.rating-number {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px
}

.number-ratings {
    font-size: 12px
}

.listing-title {
    margin-bottom: -7px
}

.progress-bar {
    background: green
}

.progress {
    height: 16px
}

</style>
{% endblock %}
{% block middle %}
    <div class="box1">
        {% for event in events %}
    <div class="d-flex skfjkk">
     <!---Put stuff here-->

     <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-white p-3 rounded mt-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex flex-column justify-content-center align-items-center icon-container bg-success text-white mb-2"><i class="fa fa-flask fa-5x mb-3 mt-5"></i><span class="mb-4">Hands on Lab</span></div>
                        </div>
                        
                        <div class="col-md-6 border-right">
                            <div class="listing-title">
                                <h5>{{event[1]}}</h5>
                            </div>
                            <br>
                            <div class="description">
                                <p>{{event[2]}}<br></p>
                            </div>
                            <br>
                            <div class="description">
                                <p>{{event[3]}}<br></p>
                            </div>
                            <br>
                            <div class="description">
                                <p>{{event[4]}}<br></p>
                            </div>
                            <hr>
                            <div class="tags mb-2"><p>Click Here To Register<p></div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
  
     <!---Put stuff here-->
    </div>
    {% endfor %}
    </div>
    </div>

{% endblock %}