<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  	<title>Noteefy</title>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<style>		
	body {
  		background-color: #E8DAEF
;
		}
		
	#white {
		color: #17202A;	
		}
	#white_title {
		color: #17202A;
		font-family: 'Special Elite', cursive;
		}
	#div_int {
		background-color: #BB8FCE ;	
		}
	img {
  		border-radius: 50%;
	}
	</style>

</head>

<body>
<div style = "margin-top: 50px;" class = "ui container">
	<h1 class = "ui center aligned header" id = "white_title">Forum T.</h1>

{% block main %}
		
{% endblock %}		

</div>	
</body>
</html>

