<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calm Wave Therapy</title>
  <link rel="stylesheet" href="static/scss/SCSS/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <script src="https://cdn.ckeditor.com/4.17.1/basic/ckeditor.js"></script>
  <style>
    /* Default margin for larger screens */
    .skfjh {
      margin-left: 200px;
    }

    /* Media query to remove margin for screens smaller than 768px */
    @media (max-width: 986px) {
      .skfjh {
        margin-left: 0 !important;
      }
    }
  </style>
  {% block style %}{% endblock %}
</head>
<body>
    
      <!--Main Navigation-->
      
      <!--Main layout-->
      <main style="margin-top: 10px;">
        <div class="container pt-4"></div>
      </main>
      <!--Main layout-->
<!--  -->
<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  {% block nav %}
    {% if user_type == 'client' %}
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse " style="background-color: #EFEFEF;">
    
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-5">
        <a href="/profile" class="list-group-item list-group-item-action py-4 ripple"
          ><i class="newspaper icon"></i><span> Feed </span></a
        >
        <a href="/your_shout_it_outs" class="list-group-item list-group-item-action py-4 ripple">
          <i class="fas fa-bullhorn"></i><span> Your Shout It Outs </span></a
        >
        <a href="/info" class="list-group-item list-group-item-action py-4 ripple">
          <i class="fas fa-id-card"></i><span> Your Profile </span>
        </a>
        <a href="/interested_therapists" class="list-group-item list-group-item-action py-4 ripple">
          <i class="fas fa-user-md"></i><span> Avail Free Therapy </span></a>
          <hr>
        <div class = 'list-group-item list-group-item-action py-1 ripple' style = 'background-color: #EFEFEF;'>
          <p style = 'color: #95959a;'>
            <a href = '#'>About.</a>
            <a href = '#'>Team.</a>
            <a href = '#'>Terms.</a> 
            <a href = '#'>Privacy.</a> 
            <a href = '#'>Contact.</a>
            <a href = '#'>Advertise.</a> 
          </p>
          </div>
      </div>
        </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #A98FB8 ;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->


      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidebarMenu">
        <span class="sr-only">Sidebar</span>
        <span class="glyphicon glyphicon-check"></span>
        <i class="fas fa-bars"></i>
    </button>
    

      <!-- Brand -->
      <a class="navbar-brand" href="/">
        <p style = 'font-family: Special Elite, cursive; font-weight: 300; font-size: x-large; color: white;'>
          <i class="fab fa-reddit"></i>
          CWT</p>
      </a>
     
      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
          
        </li>
        
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>

{% elif user_type == 'therapist' %}
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse " style="background-color: #EFEFEF;">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-5">
      <a href="/profile" class="list-group-item list-group-item-action py-4 ripple"
        ><i class="newspaper icon"></i><span> Feed </span></a
      >
      <a href="/your_shout_it_outs" class="list-group-item list-group-item-action py-4 ripple">
        <i class="fas fa-bullhorn"></i><span> Your Shout It Outs </span></a
      >
      <a href="/client_pool" class="list-group-item list-group-item-action py-4 ripple">
        <i class="fas fa-user-md"></i><span> Client Pool </span></a>
      <a href="/accepted_clients" class="list-group-item list-group-item-action py-4 ripple">
        <i class="fas fa-user-md"></i><span> Accepted Clients </span></a>
        <hr>
      <div class = 'list-group-item list-group-item-action py-1 ripple' style = 'background-color: #EFEFEF;'>
        <p style = 'color: #95959a;'>
          <a href = '#'>About.</a>
          <a href = '#'>Team.</a>
          <a href = '#'>Terms.</a> 
          <a href = '#'>Privacy.</a> 
          <a href = '#'>Contact.</a>
          <a href = '#'>Advertise.</a> 
        </p>
        </div>
    </div>
      </div>
  </div>
</nav>
<!-- Sidebar -->

<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #A98FB8 ;">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidebarMenu">
      <span class="sr-only">Sidebar</span>
      <span class="glyphicon glyphicon-check"></span>
      <i class="fas fa-bars"></i>
  </button>
    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <p style = 'font-family: Special Elite, cursive; font-weight: 300; font-size: x-large; color: white;'>
        <i class="fab fa-reddit"></i>
        CWT</p>
    </a>
   
    <!-- Right links -->
    <ul class="navbar-nav ms-auto d-flex flex-row">
      <!-- Notification dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
        
      </li>
      
    </ul>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
</header>
  {% else %}
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse " style="background-color: #EFEFEF;">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-5">
        <a href="/profile" class="list-group-item list-group-item-action py-4 ripple"
          ><i class="newspaper icon"></i><span> Feed </span></a>
          <hr>
        <div class = 'list-group-item list-group-item-action py-1 ripple' style = 'background-color: #EFEFEF;'>
          <p style = 'color: #95959a;'>
            <a href = '#'>About.</a>
            <a href = '#'>Team.</a>
            <a href = '#'>Terms.</a> 
            <a href = '#'>Privacy.</a> 
            <a href = '#'>Contact.</a>
            <a href = '#'>Advertise.</a> 
          </p>
          </div>
      </div>
        </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #A98FB8 ;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidebarMenu">
        <span class="sr-only">Sidebar</span>
        <span class="glyphicon glyphicon-check"></span>
        <i class="fas fa-bars"></i>
    </button>

      <!-- Brand -->
      <a class="navbar-brand" href="/">
        <p style = 'font-family: Special Elite, cursive; font-weight: 300; font-size: x-large; color: white;'>
          <i class="fab fa-reddit"></i>
          CWT</p>
      </a>
     
      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        
        
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>


  {% endif %}
{% endblock %}

<!--Main Navigation-->

<!--Main layout-->

<main style="margin-top: 0px;">
  <div class="container pt-4"></div>
</main>

<!--Main layout-->

<div class="container jsjhr">
<div class="row skfjh">
  

<div class="col-md-8">
  {% with messages = get_flashed_messages() %}
	{% if messages %}
  {% for message in messages %}
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>		
					{{message}}				
		</div>
    {% endfor %}
	{% endif %}
{% endwith %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/profile">Shout It Outs</a></li>
      <li class="breadcrumb-item"><a href="/ad_listing">Events</a></li>
      <li class="breadcrumb-item"><a href="/intern_listing">Internships</a></li>
      <li class="breadcrumb-item"><a href="/survey_listing">Surveys</a></li>
    </ol>
  </nav>
 
{% block middle %}
  <br>
<a href = "/add_new"><button class="fluid ui button"><h3>Shout It Out    <i class="plus square icon"></i></h3></button></a><br>
{% for post_info in posts %}
{% set number = random.randint(0,4) %}
<section id='{{post_info[0]}}'>
<div class="box1">
<div class="d-flex skfjkk">
    <div class="lkt40">
        <img src="{{avatars[number][1]}}" alt="">

    </div>
    <div class="pl-2 pt-1">
        <h6>{{ avatars[number][0] }} (posted on {{ post_info[5] }})</h6>
    </div>
 
</div>
<hr>
<p class="text-muted">
  <h3>{{ post_info[2] }}</h3></p><br>
  {{ post_info[3] }}<br>
  <p>
  {% for tag in post_info[4].split(',') %}
		<a href = "/search/{{tag}}" id = "white">#{{ tag }}</a><br>
	{% endfor %}
</p>
<hr>
<div>

</div>

<div class="d-flex justify-content-around">
    
  <a href = '/peace/{{ post_info[0] }}'>
    <div>
      <i class="hand peace outline icon"></i>
        Peace ({{post_info[7]}})
    </div>
  </a>
</div>
</div>
</section>
{% endfor %}
</div>

{% endblock %}



<div class="col-md-4">
<div class="left_box">
<span>
    Upcoming Events
</span>
<hr>
<div class="d-flex dfkj">
    <div class="lkt40">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcJhVqCEjr_bydWnall6KWBg-Yx2z3EhmRdg&s" alt="">

    </div>
    <div>
        Event 1, Banglore
    </div>
</div>
<hr>
<div class="d-flex dfkj">
    <div class="lkt40">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcJhVqCEjr_bydWnall6KWBg-Yx2z3EhmRdg&s" alt="">

    </div>
    <div>
        Event 2, Banglore
    </div>
</div>
<hr>
<div class="d-flex dfkj">
    <div class="lkt40">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcJhVqCEjr_bydWnall6KWBg-Yx2z3EhmRdg&s" alt="">

    </div>
    <div>
      Event 2, Banglore
    </div>
</div>
<hr>
<div class="d-flex dfkj">
    <div class="lkt40">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcJhVqCEjr_bydWnall6KWBg-Yx2z3EhmRdg&s" alt="">

    </div>
    <div>
      Event 2, Banglore
    </div>
</div>
</div>

<div class="left_box mt-3">
    <span>
        Ad
    </span>
    <hr>
   <img src="https://res.cloudinary.com/yaffa-publishing/image/fetch/v1456442193/http://yaffa-cdn.s3.amazonaws.com/adnews/live/images/dmImage/SourceImage/graph12_CE9EDD90-DC15-11E5-86900204D9902A1F.jpg" class="w-100" alt="">
    </div>

<div class="left_box mt-3">
<span class="font-weight-medium">
    Thought For the Day
</span>
<hr>
<p>
  Andha Manasu Irukkey, Adhaan Kadavul!
</p>
</div>
</div>



</div>

</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script>

$('.sidebar-toggle').click(function(){
     $('#sidebar').removeClass('hidden-xs');            
});

</script>
{% block script %}{% endblock %}

</body>
</html>