{% extends 'base.html' %}

{% block main %}
	
	
	<a class="ui label">
  	the name is, {{email}}
	  {{posts[0][4]}}
	</a> 
	<a href = "/logout" id="white"><button class="ui inverted pink button" align="right" style="float:right;">Get Kicked Out <i class="sign-out icon"></i></button><br><br></a>
	
	<a href = "/add_new"><button class="fluid ui button">Scribble Something New</button></a><br>
	
	<form class = "ui form" action = "/search" method="POST">
		<div class="ui icon input">
  			<input type="text" name = "search" placeholder="have a tag in mind?">
		</div>	
		
	</form><br>
	
	{% for post_info in posts %}
	
	<div class = "ui segment" id="div_int">
		<p class = "ui big header" id = "white"> {{ post_info[1] }} </p><br> 
		<p id = "white">{{ post_info[2] }} </p><br>
		<p id = "white">{% for tag in post_info[4] %}
		<a href = "/" id = "white">#{{ tag }}</a><br>
		{% endfor %}</p>
		
		<span class = "ui teal label" ><i class="calendar check outline icon"></i>{{ post_info[5] }}</span>
		<a class = "ui inverted green button" href = "/"><center><i class="edit icon"></i></center></a>
		


		<a class = "ui inverted red button" href = "/"><center><i class="trash icon"></i></center></a>
	</div>
	
	{% endfor %}
	
{% endblock %}
