{% extends 'profile.html' %}
{% block middle %}
<div class="container jsjhr">
    <div class="row skfjh">
    
    <div class="col-md-8">
        <a href = "#"><button class="fluid ui button"><h3>Shout It Out   <i class="plus square icon"></i></h3></button></a><br>

    <div class="box1">
    
     <!---Put stuff here-->
        <p>
            <h1>This is Post one</h1><br>
            Complete your project with these code snippets and patterns for Bootstrap Framework. This library of examples saves development time by making it easier to quickly create responsive layouts and utilize various Bootstrap components. Each example is designed to maximize use of Bootstrap, so you won't find a lot of additional CSS or JavaScript in these snippets. All snippets contain the source code and demo which are open-source and is a simple copy-paste to use in your project.</p>
            <div class="d-flex justify-content-around">
    
                <div>
                  <i class="hand peace outline icon"></i>
                    Peace
                </div>
                
            </div>
     
     <!---Put stuff here-->
    
    </div>
    </div>

{% endblock %}