{% extends 'test.html' %}
{% block desc %}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-white p-3 rounded mt-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex flex-column justify-content-center align-items-center icon-container bg-success text-white mb-2"><i class="fa fa-flask fa-5x mb-3 mt-5"></i><span class="mb-4">Hands on Lab</span></div>
                    </div>
                    <div class="col-md-6 border-right">
                        <div class="listing-title">
                            <h5>Mottamadi (Live Orchestra)</h5>
                        </div>
                        <br>
                        <div class="description">
                            <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer...<br></p>
                        </div>
                        <br>
                        <div class="tags mb-2"><p>Click Here To Register<p></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}